*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2B3137;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;;

}
input{
  margin-top: 100px;
  width: 60%;
  padding: 7px;

  border: 2px solid gray;
  box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);;
}
.git-image{
  width: 250px;
  height: auto;
  margin-top: 20px;
}


